<html ng-app="riskEbbApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./scripts/angular.min.js"></script>
	<script src="./scripts/riskebb_front.js"></script>
	<script src="./scripts/d3.min.js"></script>
	<link href="./styles/bootstrap.min.css" rel="stylesheet">
	<link href="./styles/bootstrap-theme.min.css" rel="stylesheet">
	<link href="./styles/riskebb.css" rel="stylesheet">
	<title>riskEbb | Flow & Ebb</title>
	
</head>

<body>


<div class="col-sm-4" ng-controller="PortfolioReportController">
	<p>{{user.name}}</p>
	<select class="form-control" ng-model="selectedPortfolio" ng-options="portfolio.name for portfolio in portfolios" ng-change="refreshReport()"></select>
	<input class="form-control" type="text" ng-model="startDate" ></input>
	<input class="form-control" type="text" ng-model="endDate" ></input>
	
</div>

<div class="panel panel-default col-sm-8">
	<h2>Risk Report</h2>
	<div id='chart'></div>
	<h3>
	<span class="market label">Market Price</span>
	<span class="vwap label">VWAP</span>
	<span class="volume label">Volume traded</span>
	</h3>

</div>


<script src="./scripts/ui-bootstrap-0.14.2.min.js"></script>
<script src="./scripts/jquery.min.js"></script>
<script src="./scripts/bootstrap.min.js"></script>

</body>



</html>